body {
  background-image: url("./images/blue_code_background.png");
  margin: 0;
  z-index: -1;
}

#btnHighlight {
  color: #4e3d00 !important;
  background-color: #ffd027 !important;
  padding: 5px !important;
  border-radius: 50px;
  font-weight: 900;
  font-variant: small-caps;
}
#root {
  background-color: rgba(255, 255, 255, 0.9);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root * {
  width: 90%;
  margin: 0 auto;
  /* padding: 10px; */
}

/* HEADER */
header * {
  margin: 0;
  padding: 4px;
}
header {
  color: #000000;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  font-weight: 500;
  font-family: monospace;
  font-variant: small-caps;
}
header > h2 {
  justify-self: start;
  font-size: 30px;
}

header > a > button {
  padding: 5px !important;
  font-size: 10px;
  background-color: #ffeba200;
  border: 0;
  font-weight: 900;
  text-transform: uppercase;
}

/* BODY */
main {
  display: flex;
  flex-direction: column;
}
main > .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(150px, 300px) 1fr;
  justify-items: center;
}
main > .hero > h1 {
  margin: 10px !important;
  grid-area: 1/1/2/3;
  align-self: flex-end;
  font-size: 60px;
}
main > .hero > img {
  max-width: 100% !important;
  margin: 14px !important;
  border: 2px solid black;
  border-radius: 50%;
}
main > .hero > .profile {
  width: auto !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main > .hero > .profile * {
  font-size: 20px;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
main > .hero > .profile > div {
  margin: 20px 0px !important;
  display: flex;
  gap: 10px;
}
main > .hero > div > div > .links > a {
  margin: 4px !important;
  display: block;
  width: fit-content !important;
}
main > .hero > div > div > .links > a > svg {
  height: 30px;
}
main > .hero > div > div > .skills > img {
  width: 40px !important;
  height: 40px;
  margin: 4px !important;
}
main > .hero > div > div > .skills > p {
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
}

main > .myProjects {
  margin-top: 20px !important;
  display: flex;
  flex-direction: column;
}

/* 
footer {
  width: 96%;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
}
.footer-card {
  width: 200px;
  flex-basis: 300px;
  color: #fff1bf;
}
.copyright {
  width: 100%;
  padding: 0;
  flex-basis: 200px;
  color: #d8b844a8;
}
*/
